body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.map-container {
    position: relative;
}

.map-background {
    width: 100%;
    height: auto;
}

.icon {
    position: absolute;
    cursor: pointer;
    font-size: 24px; /* Adjust size as needed */
}

.slideshow {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.slides {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.slides img {
    max-width: 80%;
    max-height: 80%;
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    cursor: pointer;
    padding: 10px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}